<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.home.apple">

	<resultMap type="appleDto" id="appleResultMap">
		<id column="FRU_SEQ" property="fruSeq" />
		<result column="FRU_NAME" property="fruTitle" />
		<result column="FRU_PRICE" property="fruPrice" />
		<result column="FRU_IMG_TITLE" property="fruImgTitle" />
	</resultMap>

	<select id="appleSelectOne" parameterType="int" 
		resultMap="appleResultMap">
		SELECT *
		FROM APPLE
		WHERE FRU_SEQ = #{fruSeq}
	</select>

</mapper>