<?xml version="1.0" encoding="UTF-8"?>

<!-- <configuration scan="true" scanPeriod="60 seconds"> -->
<configuration>

	<!--로그 파일 저장 위치 -->
	<property name="LOGS_PATH" value="c:/logs/SpringBootHome"/>

	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
<!-- 		<file>src/main/resources/logs/board_logback.log</file> -->
		<file>${LOGS_PATH}/board_logback.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
<!-- 				src/main/resources/logs/board_logback_%d{yyyy-MM-dd}.%i.log.gz -->
				${LOGS_PATH}/board_logback_%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>

			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>5MB</maxFileSize>
				<!-- kb, mb, gb -->
			</timeBasedFileNamingAndTriggeringPolicy>

		</rollingPolicy>

		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level
				%logger{35} - %msg%n%ex{full}</pattern>
		</encoder>

	</appender>


	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>[%d{HH:mm}] %-5level %logger{36} - 
				%highlight(%msg) %n%highlight(%ex{full}) %C</pattern>
			</layout>
		</encoder>
	</appender>

	<logger name="org.springframework.core" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.beans" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.context" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.web" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>